<div class="pitch">
    <div class="pitch--cards">
        @for (item of arrayCards(); track item) {
        <div class="pitch--card" [id]="item.idCard">
            <div class="pitch--status">
                <div class="nope-icon"></div>
                <div class="love-icon"></div>
            </div>
            <figure class="relative cursor-pointer filter transition-transform h-full">
                <img [src]="item.src" class="h-full object-cover" />

                <figcaption class="absolute px-3 pb-6 text-white w-full bottom-0 text-start bg-gradient-to-t from-20% from-black">
                    <h3 class="font-bold">{{ item.title }}</h3>
                    <p class="font-medium">{{ item.slogan }}</p>
                    <ul id="categoriesItens" class="flex flex-wrap justify-start w-full mt-2 gap-2" formArrayName="categories">
                        @for (item of item.categorias; track item) {
                        <li>
                            <label class="inline-flex items-center justify-between w-full px-2 py-1 rounded-full text-white bg-gray-400/25">
                                <div class="block">
                                    <div class="w-full text-sm font-semibold"> {{ item }} </div>
                                </div>
                            </label>
                        </li>
                        }
                    </ul>
                </figcaption>
            </figure>
        </div>
        }
    </div>

    <div class="pitch--buttons">
        <button class="btn-nope" id="nope"><i class="fa fa-remove"></i></button>
        <button class="btn-love" id="love"><i class="fa fa-dollar"></i></button>
    </div>
</div>