<main class="flex items-center justify-center h-screen">
    <div class="flex flex-col gap-9 text-center">
        <div>
            <h1 class="text-4xl md:text-6xl lg:text-9xl text-white font-bold">
                Deslize para acontecer
            </h1>
        </div>
        <div>
            <button type="button" class="text-[19px] font-semibold rounded-full text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 text-sm px-8 py-3.5 text-center">
                Criar uma conta
            </button>
        </div>
        <div>
            <a href="#" class="text-[17px] text-white font-bold underline hover:text-gray-300">
                Baixe o PitchLink<br>Click Aqui!
            </a>
        </div>
    </div>
</main>
