<div class="mb-4 border-b border-gray-700">
    <ul class="flex flex-wrap -mb-px text-sm font-bold text-center" id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
        <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-4 rounded-t-lg" id="propostas-tab" data-tabs-target="#propostas" type="button" role="tab" aria-controls="propostas" aria-selected="false">Propostas</button>
        </li>
        <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-4 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="mensagens-tab" data-tabs-target="#mensagens" type="button" role="tab" aria-controls="mensagens" aria-selected="false">Mensagens</button>
        </li>
    </ul>
</div>
<div id="default-tab-content">
    <div class="p-4" id="propostas" role="tabpanel" aria-labelledby="propostas-tab">
        <app-sdbr-propostas/>
    </div>
    <div class="p-4" id="mensagens" role="tabpanel" aria-labelledby="mensagens-tab">
        <app-sdbr-mensagens/>
    </div>
</div>